body {
  background-image: url("traffic_cars_road_travel.jpg"); /* image source: https://free-images.com/display/traffic_cars_road_travel.html */
  background-repeat: repeat-y;
  background-attachment: fixed;
  text-align: center;
  color: #1A2B53;
  background-color: #676C68;
  font-family: "Roboto", sans-serif;
}

li {
  text-align: left;
}

.expand_box{
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}

h3 {
  text-align: left;
}

figcaption {
  font-size: 10pt;
  text-align: left;
  background-color: #ffffe6;
  padding: 10px;
}

#ei, #hi, #ct, #footnotes {
  display: none;
}

#footnotes {
  text-align: left;
}

@media
    only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, td, tr {
      display: block;
    }

    table {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 80vw;
    }

    tr {
      margin: 0 0 1rem 0;
    }
      
    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      margin-bottom: 5px;
    }

    td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      margin-bottom: 5px;
    }
    /**/
  }

a {
  color: #002db3;
  text-decoration: none;
}

div {
  text-align: center;
  margin: auto;
}

.bdiv {
  background-color: #FFFFFF;
  position: relative;
  border-radius: 10px;
  width: 20%;
  margin: auto;
  margin-right: 5px;
  padding: 5px;
  height: 110px;
  flex: 1;
}

.button {
  color: #1A2B53;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18pt;
}

.button_name {
  color: #DA2020;
  /*font-family: "Satisfy", cursive;*/
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  border-spacing: 5px;
  border-radius:10px;
  margin-top: -15px;
  /*width: 70vw;*/
}

h1 {
  color: #DA2020;
}

td {
  background-color: #ffffff;
  border-radius: 5px;
  padding:5px;
  /*width: 20%;*/
  vertical-align: top;
}

.main_ask {
  padding: 10px;
  font-size: 18pt;
}

p {
  text-align: left;
}

h2 {
  text-decoration: none;
}